//display grid tweaks
.side-nav{
  .img-fluid{
    width: 100%;
    max-width: 300px;
  }
}

//post thumbnail
.post-header{
  .img-fluid{
    width: 100%;
    max-width: 45px;
    max-height: 45px;
  }
}

//profile page banner
.profile-img{
  width: 20%;
  max-width: 250px;
  max-height: 250px;
}

//login form layout
.form-login{
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;

  .login-header{
    text-align: center;
  }
}
