@import "../../../node_modules/bootstrap/scss/functions";
//colours

$primary:       black;
$secondary:     #343a40;
$tertiary:      #495057;
$success:       #198754;
$info:          #0dcaf0;
$warning:       #ffc107;
$danger:        #dc3545;
$light:         #f8f9fa;
$dark:          #212529;


$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "tertiary":   $tertiary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

//getting errors trying to do this else where, important over writes form controls
 @each $name, $colour in $theme-colors {
   .place-text-#{$name}::placeholder { color: $colour !important; }
 }


//navigation variables
$navbar-brand-padding-y: 0;