
//colours

$primary:       black;
$secondary:     #212529; 
$success:       #08641c;
$info:          #0098b6;
$warning:       #dbba00;
$danger:        #9c0413;
$light:         #f7f7f7;
$dark:          #343a40;

//navigation variables
$navbar-brand-padding-y: 0;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

$spacer: 1.5rem;

//put all variable changes above this!
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";

$extra-theme-colors:(
  "tertiary":      #495057,
);

$theme-colors: map-merge($extra-theme-colors, $theme-colors);


//getting errors trying to do this else where, important over writes form controls
@each $name, $colour in $theme-colors {
  .place-text-#{$name}::placeholder { color: $colour !important; }
}

